/* Box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Typography */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0 auto;
  }
  
  /* Links */
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Lists */
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body{
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    gap: 120px;
    flex-direction: column;
  }
  .wrapper{
    display: flex;
    width: 1200px;
    height:843px;
    gap: 0px;
    opacity: 0px;
    margin-top: 32px;
    flex-direction: column;
  }
  header{
    display: flex;
    width: 1201px;
    height: 74px;
    gap: 75px;
    opacity: 0px;
    align-items: center;
  }
  nav ul{
    display: flex;
    gap: 64px;
    width:659px;
    height:28px;
    justify-content: space-between;
  }
  .wrapper_logo{
    width: 189px;
    height: 74px;
    padding: 0px 0px 24px 84px;
    gap: 0px;
    opacity: 0px;
  }
  .button_header{
    width:201px;
    height:56px;
    display: flex;
    border: 2px solid #0041C0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .sign_up{
    display: flex;
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: white;
  }
  nav ul li a{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: white;
  }
  .wrapper_logo p{
    font-family: TT Firs Neue;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: white;
  }
  .wrapper_content{
    display: flex;
    width: 1200px;
    height: 746px;
    gap: 0px;
    opacity: 0px;
    flex-direction: column;
  }
  .wrapper_content_main{
    display: flex;
    width:1200px;
    height:653px;
    gap: 64px;
    opacity: 0px;
    flex-direction: column;
  }
  .wrapper_content_main_info{
    display: flex;
    position: relative; 
    width: 1200px;
    height: 515px;
    
  }
  .wrapper_content_main_info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    filter: blur(10px);
    z-index: 1; 
    gap: 0px;
    opacity: 0px;
    backdrop-filter: blur(81.69999694824219px);
    background-image: url(/assets/194183813bb5f52587028b9b366b00e4.png);
    background-size: cover;
    filter: blur(46px);
    margin-left: -46px;
}
  
  .wrapper_content_main_info_first{
    display: flex;
    width: 712px;
    height: 444px;
    gap: 40px;
    opacity: 0px;
    flex-direction: column;
    z-index: 2; 
    position: relative;
  }
  .wrapper_content_main_info_first_content{
    display: flex;
    width:879px;
    height:348px;
    gap: 32px;
    opacity: 0px;
    flex-direction: column;
  }
  .one{
    width: 183px;
    height: 43px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    border: 1px solid #D9D9D9;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .one p{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: white;
  }
  .text_3d{
    font-family: TT Firs Neue;
    font-size: 60px;
    font-weight: 800;
    line-height: 77.4px;
    text-align: left;
    width: 879px;
    height: 154px;
    gap: 0px;
    opacity: 0px;
    width: 879px;
    display: flex;
    color: white;
  }
  .text_2d{
    display: flex;
    width: 692px;
    height: 87px;
    gap: 0px;
    opacity: 0px;
    font-family: TT Firs Neue;
    font-size: 20px;
    font-weight: 300;
    line-height: 25.8px;
    text-align: left;
    color: white;
  }
  .one_button{
    width:301px;
    height:56px;
    border-radius: 5px 5px 5px 5px;
    background: #0041C0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .one_button p{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    display: flex;
    width: 125px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    color: white;
  }
  .wrapper_content_main_info_second{
    display: flex;
    width: 488px;
    height: 515px;  
    position: relative;
    z-index: 2;
    flex: 1;
  }
  .card{
  width: 311px;
  height: 515px;
  left: 414px;
  gap: 0px;
  opacity: 0px;
  margin-top: -61px;
  }
  .grad{
    display: flex;
    width: 488px;
    height: 454px;
    top: 61px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background: linear-gradient(150.72deg, #0066FF 7.86%, #011D47 84.54%);
    position: absolute;
  }
  .auto_frame{
    display: flex;
    width:1200px;
    height:97px;
    gap: 20px;
    opacity: 0px;
    }
    .frame{
    width: 224px;
    height: 97px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    background-color:#1B1B1B;
    border-radius: 10px;
    align-items: center;
    }
    .frame_one{
    width: 130px;
    height: 35px;
    }
    .frame_four{
    width: 43px;
    height: 41px;
    }
    .second_container{
    display: flex;
    width:1200px;
    height:589px;
    gap: 20px;
    }
    .hi{
    width: 468px;
    height: 589px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    }
    .container_text{
    width: 712px;
    height: 589px;
    gap: 10px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    display: flex;
    background-color:#1B1B1B;
    ;
    }
    .container_text_content{
    width: 632px;
    height: 509px;
    gap: 82px;
    opacity: 0px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    }
    .about_course{
    width: 190px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
    font-family: RF Dewi;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    color: white;
    }
    .about_course_info{
    width: 632px;
    height: 112px;
    gap: 0px;
    opacity: 0px;
    color: white;
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    display: flex;
    }
    .container_text_content_first{
    width: 632px;
    height: 202px;
    gap: 32px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    }
    .container_text_content_second{
    width:632px;
    height:225px;
    gap: 29px;
    opacity: 0px;
    display: flex;
    }
    .info_first{
    width:172px;
    height:225px;
    gap: 20px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    }
    .info_second{
      display: flex;
      width: 172px;
      height: 225px;
      gap: 20px;
      opacity: 0px;
      flex-direction: column;
    }
    .info_third{
      display: flex;
      width: 172px;
      height: 225px;
      gap: 20px;
      opacity: 0px;
      flex-direction: column;
    }
    .icon1{
      width: 56px;
      height: 56px;
      padding: 3.11px 6.26px 3.11px 6.26px;
      gap: 0px;
      opacity: 0px;
      margin: 0;
    }
    .number96{
    width: 86px;
    height: 77px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    font-size: 64px;
    font-weight: 900;
    line-height: 76.8px;
    text-align: left;
    color: white;
    margin-top: 5px;
    }
    .info_text{
    width: 172px;
    height: 52px;
    gap: 0px;
    opacity: 0px;
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 26.4px;
    text-align: left;
    color: white;
    }
    .custom-line {
    height: 129px;
    background-color: white;
    margin: 95px 0 0 0;
  }
  .icon2{
  width: 56px;
  height: 48.58px;
  margin: 2px;
  }
  .info_text2{
  font-family: TT Firs Neue;
  font-size: 22px;
  font-weight: 300;
  line-height: 26.4px;
  text-align: left;
  color: white;
  }
  html{
    scroll-behavior: smooth;
  }
  a {
    display: inline-block; /* Строчно-блочный элемент */
    transition: 0.3s; /* Время перехода */
   }
   a:hover {
    transform: rotate(3deg) translate(5px); /* Трансформация */
    text-decoration: none;
    color: wheat;
   }
   .one p:hover{
    cursor: pointer;
    color: wheat;
   }
   .one:hover{
    cursor: pointer;
    background-color: #1B1B1B;
   }