/* Box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Typography */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Links */
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Lists */
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body{
    width: 1440px;
    display: flex;
    justify-content: center;
    /* background-color: #000000; */
  }
  .wrapper{
    display: flex;
    width: 1200px;
    height:843px;
    gap: 0px;
    opacity: 0px;
    margin-top: 32px;
  }
  header{
    display: flex;
    width: 1201px;
    height: 74px;
    gap: 75px;
    opacity: 0px;
    align-items: center;
  }
  nav ul{
    display: flex;
    gap: 64px;
    width:659px;
    height:28px;
    justify-content: space-between;
  }
  .wrapper_logo{
    width: 189px;
    height: 74px;
    padding: 0px 0px 24px 84px;
    gap: 0px;
    opacity: 0px;
  }
  .button_header{
    width:201px;
    height:56px;
    display: flex;
    border: 2px solid #0041C0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .sign_up{
    display: flex;
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: wheat;
  }
  nav ul li a{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: wheat;
  }
  .wrapper_logo p{
    font-family: TT Firs Neue;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: wheat;
  }
  .wrapper_content{
    display: flex;
    width: 1200px;
    height: 746px;
    gap: 0px;
    opacity: 0px;
  }
  .wrapper_content_main{
    display: flex;
    width:1200px;
    height:653px;
    gap: 64px;
    opacity: 0px;
    flex-direction: column;
  }
  .wrapper_content_main_info{
    display: flex;
    width: 1200px;
    height: 515px;
    gap: 0px;
    opacity: 0px;
  }
  .wrapper_content_main_info_first{
    display: flex;
    width:879px;
    height:444px;
    gap: 40px;
    opacity: 0px;
    flex-direction: column;
  }
  .wrapper_content_main_info_first_content{
    display: flex;
    width:879px;
    height:348px;
    gap: 32px;
    opacity: 0px;
    flex-direction: column;
  }
  .one{
    width: 183px;
    height: 43px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    border: 1px solid #D9D9D9;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .one p{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    color: wheat;
  }
  .text_3d{
    font-family: TT Firs Neue;
    font-size: 60px;
    font-weight: 800;
    line-height: 77.4px;
    text-align: left;
    width: 879px;
    height: 154px;
    gap: 0px;
    opacity: 0px;
    width: 879px;
    display: flex;
  }
  .text_2d{
    display: flex;
    width: 692px;
    height: 87px;
    gap: 0px;
    opacity: 0px;
    font-family: TT Firs Neue;
    font-size: 20px;
    font-weight: 300;
    line-height: 25.8px;
    text-align: left;
  }
  .one_button{
    width:301px;
    height:56px;
    border-radius: 5px 5px 5px 5px;
    background: #0041C0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .one_button p{
    font-family: TT Firs Neue;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.38px;
    text-align: left;
    display: flex;
    width: 125px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
  }
  .wrapper_content_main_info_second{
    display: flex;
  }